version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: cherep-actualbudget_server_1
      APP_PORT: 5006

  server:
    image: actualbudget/actual-server:latest
    volumes:
      - ${APP_DATA_DIR}/data:/data
    restart: unless-stopped
