version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: cherep-actualbudget_nginx_1
      APP_PORT: 8080

  server:
    image: actualbudget/actual-server:latest
    volumes:
      - ${APP_DATA_DIR}/data:/data
    restart: unless-stopped
    
  nginx:
    image: nginx:alpine
    depends_on:
      - server
    volumes:
      - ${APP_DATA_DIR}/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped