version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: cherep-actualbudget_nginx_1
      APP_PORT: 5006

  server:
    image: actualbudget/actual-server:latest
    volumes:
      - ${APP_DATA_DIR}/data:/data
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    depends_on:
      - server
    restart: unless-stopped
    command: >
      sh -lc '
      cat > /etc/nginx/conf.d/default.conf << "EOF"
      server {
        listen 8080;

        location / {
          proxy_pass http://cherep-actualbudget_server_1:5006;

          proxy_hide_header Cross-Origin-Opener-Policy;
          proxy_hide_header Cross-Origin-Embedder-Policy;

          add_header Cross-Origin-Opener-Policy "same-origin" always;
          add_header Cross-Origin-Embedder-Policy "require-corp" always;

          proxy_set_header Host $$host;
          proxy_set_header X-Forwarded-Host $$host;
          proxy_set_header X-Forwarded-Proto $$scheme;
          proxy_set_header X-Forwarded-For $$proxy_add_x_forwarded_for;
        }
      }
      EOF
      nginx -g "daemon off;";
      '